<h2>Add Transaction</h2>
<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Debtor Alias Type</mat-label>
        <mat-select formControlName="debtorAliasType">
          <mat-option value="IBAN">IBAN</mat-option>
          <mat-option value="ALPHANUMERIC">ALPHANUMERIC</mat-option>
          <mat-option value="PHONE_NUMBER">PHONE NUMBER</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Debtor Alias Value</mat-label>
        <input matInput id="debtorAliasValue" type="text" formControlName="debtorAliasValue" />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Creditor Alias Type</mat-label>
        <mat-select formControlName="creditorAliasType">
          <mat-option value="IBAN">IBAN</mat-option>
          <mat-option value="ALPHANUMERIC">ALPHANUMERIC</mat-option>
          <mat-option value="PHONE_NUMBER">PHONE NUMBER</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Creditor Alias Value</mat-label>
        <input matInput id="creditorAliasValue" type="text" formControlName="creditorAliasValue" />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput id="amount" type="number" formControlName="amount" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select id="currency" formControlName="currency">
          <mat-option value="JOD">JOD</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="GBP">GBP</mat-option>
          <mat-option value="HUF">HUF</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group full-width">
      <mat-form-field appearance="fill">
        <mat-label>Purpose</mat-label>
        <textarea matInput id="purpose" formControlName="purpose"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group full-width">
      <mat-form-field appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea matInput id="comments" formControlName="comments"></textarea>
      </mat-form-field>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">Submit</button>
</form>
