.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
}

.form-group {
  flex: 1; /* This makes the form group take up equal space */
  min-width: 48%; /* Ensures that each form-group doesn't shrink below 48% */
  box-sizing: border-box;
  padding-right: 10px;
}

.form-group.full-width {
  flex: 0 0 100%; /* Makes the element take up the full width of the row */
}

mat-form-field {
  width: 100%; /* Ensures the form field takes up the full width of the form group */
}

button {
  margin-top: 20px;
  display: block;
  width: 100%; /* Ensure the button is full width */
}
