.sidenav-container {
  height: 100%;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/*.sidenav{*/
/*  background-image: url('../cash.png');*/
/*  background-size: 380%;*/
/*  background-repeat: repeat;*/
/*}*/

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 300px;
  background-color: darkslategrey;
  color: darkslategrey;
}

mat-sidenav-content {
  padding: 40px 20px; /* Adjust for toolbar height */
  background: #f4f4f9;
  min-height: 100vh;
}

mat-nav-list mat-list-item {
  padding: 50px 20px;
}

.navItems{
  margin-top: 45px;

}

.itemText{
  font-size: 20px;
  /*font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;*/
}

mat-nav-list mat-list-item a {
  color: white;
}

mat-nav-list mat-list-item a:hover {
  background-color: #74777f;
  border-radius: 3px;
  color: white;
}

.logout-item .itemText {
  text-align: center;
  font-weight: bolder;
  color: red;
  text-shadow: 2px 2px 2px black;
}
