<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class = "loginHeading">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit" class = "loginButton">Login</button>
        <div *ngIf="loginFailed" class="login-error">
          {{ loginErrorMessage }}
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
