<h3>Search Transactions</h3>

<form (ngSubmit)="onSubmit()" #transactionForm="ngForm">
  <!-- Select between showing all transactions or filtering by alias -->
  <div >
    <mat-radio-group [(ngModel)]="searchType" (change)="onSearchTypeChange()" name="searchType">
      <mat-radio-button value="all">Show All Transactions</mat-radio-button>
      <mat-radio-button class = "option" value="alias">Show Transactions By Alias</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- If filtering by alias is selected, show further options -->
  <div  *ngIf="searchType === 'alias'">
    <mat-radio-group [(ngModel)]="aliasSearchType" name="aliasSearchType">
      <mat-radio-button value="all">Show All Transactions for an Alias</mat-radio-button>
      <mat-radio-button class = "option" value="incoming">Show Incoming Transactions for an Alias</mat-radio-button>
      <mat-radio-button class = "option" value="outgoing">Show Outgoing Transactions for an Alias</mat-radio-button>
    </mat-radio-group>

    <!-- Alias Type Dropdown -->
    <div class="horizontal-form-group">
    <div class="aliasType">
      <mat-form-field appearance="fill">
        <mat-label>Alias Type</mat-label>
        <mat-select [(ngModel)]="aliasType" name="aliasType" required>
          <mat-option value="ALPHANUMERIC">Alphanumeric</mat-option>
          <mat-option value="IBAN">IBAN</mat-option>
          <mat-option value="PHONE">Phone Number</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Alias Value Input -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Alias Value</mat-label>
        <input matInput type="text" id="aliasValue" name="aliasValue" [(ngModel)]="aliasValue" required>
      </mat-form-field>
    </div>
  </div>
  </div>
  <div >
    <button mat-raised-button color="primary" type="submit" class="selectButton" [disabled]="!transactionForm.valid">Search</button>
  </div>
</form>

<!-- Display the transactions using ag-Grid -->
<div *ngIf="transactions.length > 0" class="ag-theme-quartz" style="height: 500px; width: 100%;">
  <ag-grid-angular
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [class]="themeClass"
    class="ag-theme-quartz"
    style="height: 500px; width: 100%;">
  </ag-grid-angular>
</div>

<div *ngIf="searchAttempted && transactions.length == 0">
  <h3>No Transactions Found</h3>
</div>
