
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.selectButton{
  margin-top: 10px;
  margin-left: 10px;
}

.ag-theme-quartz {
  margin-top: 20px;
}

.horizontal-form-group {
  display: flex;
  gap: 20px; /* Optional: Adds space between the form fields */
  align-items: center; /* Vertically aligns items */
}

.horizontal-form-group mat-form-field {
  flex: 1; /* Allows the fields to take up equal space */
}
